P { 
font-size : 12pt; 
font-family : arial,helvetica; 
font-weight : normal; 
} 
H1 { 
font-size : 35pt; 
font-family : verdana,arial; 
text-decoration : underline; 
text-align : center; 
background-color : Purple; 
} 
BODY { 
background-color : #0B173B; 
font-family : arial; 
color : White; 
}
